.person {
	border: none;
	width: 128px;
	height: 128px;
	float: right;
	margin: 0.1em 0em 1em 1em;
}

.person th, .person tr, .person td {
	border: none;
}

.person-picture {
	width: 128px;
	border: none;
	margin: 0em 0em 0.5em 0em;
	box-shadow: 5px 5px 10px #999;
}

.person caption {
	border: none;
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
	color: #c0c0c0;
	font-weight: 300;
	text-indent: 0;
	padding: 10px;
	margin: -10px 0px 0px 0px;
}